<!DOCTYPE html>
<html>
 
<head>
    <title>Farming App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <style>
        .header > a :hover {
            color: #000;
        }
    </style>
 
</head>
 
<body>

    <div class="col-lg-12 col-md-12 col-sm-12">
        <form action="/suggest" method="post">
            <div class="jumbotron">
                <h1>Farming App - Crop Recommendation</h1>
                <p class="lead"></p>
                <input type="text" placeholder = "district name" name="region"></input>
                <p class="lead"></p>
                <p class="lead"></p>
                <input type="text" placeholder = "year" name="year"></input>
                <p class="lead"></p>
                <p class="lead"></p>
                <input type="text" placeholder = "N in kg/hectare" name="n"></input>
                <p class="lead"></p>
                <p class="lead"></p>
                <input type="text" placeholder = "P in kg/hectare" name="p"></input>
                <p class="lead"></p>
                <p class="lead"></p>
                <input type="text" placeholder = "K in kg/hectare" name="k"></input>
                <p class="lead"></p>
                <p><input class="btn btn-lg btn-success" type="submit" value="Suggest">
                </p>
            </div>
        </form>
        <div>

        {%- if url == "suggest" -%}
        <h2>Suggestions: </h2>
        <ul class="nav nav-tabs nav-justified navbar navbar-fixed-top" role="tablist">
            {%- for i in result -%}
            <li role="presentation" style="background: #000" class="header"><a href="#{{ result[i]["Crop"][0] }}" style="cursor: pointer; color: #fff">{{result[i]["Crop"][0] }} </a></li>
            {%- endfor -%}
        </ul>

        <div class="" style="margin-left: 25px; margin-right: 25px;">
        
            {%- for i, key in result.items() -%}
                <div id="{{ result[i]['Crop'][0] }}" >
                    <br/>
                    <h3>{{ result[i]["Crop"][0] }}</h3>
                    <br />
                    <div class="" style="margin-left: 25px; margin-right: 25px;">
                        
                        <h4>Mixed cropping</h4>
                        <div class="" style="margin-left: 25px; margin-right: 25px;">
                            {%- if v == None -%}
                                No information
                            {%- endif -%}
                            {%- if v != None -%}
                                {%- for value in result[i]["Mixed cropping"] -%}
                                    <li>
                                    {{ value }}
                                    </li>
                                {%- endfor -%}
                            {%- endif -%}
                        </div>
                        <br/>
 
                        <h4>Seed treatment</h4>
                        <div class="" style="margin-left: 25px; margin-right: 25px;">
                            {%- if v == None -%}
                                No information
                            {%- endif -%}
                            {%- if v != None -%}
                                {%- for value in result[i]["Seed treatment"] -%}
                                    <li>
                                    {{ value }}
                                    </li>
                                {%- endfor -%}
                            {%- endif -%}
                        </div>
                        <br/>

                        <h4>Spacing</h4>
                        <div class="" style="margin-left: 25px; margin-right: 25px;">
                            {%- if v == None -%}
                                No information
                            {%- endif -%}
                            {%- if v != None -%}
                                {%- for value in result[i]["Spacing"] -%}
                                    <li>
                                    {{ value }}
                                    </li>
                                {%- endfor -%}
                            {%- endif -%}
                        </div>
                        <br/>

                        <h4>Irrigation</h4>
                        <div class="" style="margin-left: 25px; margin-right: 25px;">
                            {%- if v == None -%}
                                No information
                            {%- endif -%}
                            {%- if v != None -%}
                                {%- for value in result[i]["Irrigation"] -%}
                                    <li>
                                    {{ value }}
                                    </li>
                                {%- endfor -%}
                            {%- endif -%}
                        </div>
                        <br/>

                        <h4>Growth period</h4>
                        <div class="" style="margin-left: 25px; margin-right: 25px;">
                            {%- if v == None -%}
                                No information
                            {%- endif -%}
                            {%- if v != None -%}
                                {%- for value in result[i]["Growth period"] -%}
                                    <li>
                                    {{ value }}
                                    </li>
                                {%- endfor -%}
                            {%- endif -%}
                        </div>
                        <br/>

                        <h4>Harvesting</h4>
                        <div class="" style="margin-left: 25px; margin-right: 25px;">
                            {%- if v == None -%}
                                No information
                            {%- endif -%}
                            {%- if v != None -%}
                                {%- for value in result[i]["Harvesting"] -%}
                                    <li>
                                    {{ value }}
                                    </li>
                                {%- endfor -%}
                            {%- endif -%}
                        </div>
                        <br/>

                        <h4>Pesticide</h4>
                        <div class="" style="margin-left: 25px; margin-right: 25px;">
                            {%- if v == None -%}
                                No information
                            {%- endif -%}
                            {%- if v != None -%}
                                {%- for value in result[i]["Pesticide"] -%}
                                    <li>
                                    {{ value }}
                                    </li>
                                {%- endfor -%}
                            {%- endif -%}
                        </div>
                        <br/>

                        <h4>Fertilizer</h4>
                        <div class="" style="margin-left: 25px; margin-right: 25px;">
                            {%- if v == None -%}
                                No information
                            {%- endif -%}
                            {%- if v != None -%}
                                {%- for value in result[i]["Fertilizer"] -%}
                                    <li>
                                    {{ value }}
                                    </li>
                                {%- endfor -%}
                            {%- endif -%}
                        </div>
                        <br/>

                    </div>
                        <br/>
                </div>
                <hr />
            {%- endfor -%}

        {%- endif -%}
        </div>
        </div>
        
        <footer class="footer text-center">
            <p>&copy; Aadithya U, Anushya S, Balalakshmi N</p>
        </footer>
 
    </div>
</body>
 
</html>